
header {
    margin-top: 60px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
header h1 {
    font-size: 40px;
}
header h3 {
    font-size: 15px;
}
.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
.products table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    padding: 10px;
}
.products table thead {
    background: #ccc;
}
.products table thead th {
    padding: 10px;
}
.products table tbody {
    background: #eee;
}
.products table tbody td {
    padding: 10px;
    border: 1px solid #ccc;
}
.contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    box-sizing: border-box;
}
.contact-me form {
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
}

.contact-me form fieldset {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-me form fieldset input, textarea {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
.contact-me form fieldset .sender-info {
    display: flex;
    gap: 20px;
}
footer {
    display: flex;
    background: #000;
    color: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}